<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsc.salary.mapper.CalculateMapper">

    <select id="listCalculateVo" resultType="com.zsc.salary.model.vo.CalculateVo" parameterType="Map">
        SELECT
            c.*,
            e.name employee_name,
            d.name dept_name,
            j.name job_name
        FROM
            calculate c,
            employee e,
            dept d,
            job j
        WHERE
            c.employee_id = e.id
          AND e.status = 1
          AND e.job_id = j.id
        <choose>
            <when test="deptId != null">
                AND e.dept_id = #{deptId}
            </when>
            <when test="employeeName != null">
                AND e.name like CONCAT('%',#{employeeName},'%')
            </when>
        </choose>
        AND e.dept_id = d.id
    </select>

    <select id="listCalculate" resultType="com.zsc.salary.model.pojo.Calculate">
        SELECT * FROM calculate WHERE employee_id in
        <foreach collection="employeeId" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


    <update id="updateCalculate" parameterType="com.zsc.salary.model.dto.CalculateDto">
        UPDATE calculate
            SET daily_sick_leave_deduction = #{dailySickLeaveDeduction},
            daily_personal_leave_deduction = #{dailyPersonalLeaveDeduction},
            daily_late_deduction = #{dailyLateDeduction},
            daily_overtime_pay = #{dailyOvertimePay},
            personal_endowment_insurance_rate = #{personalEndowmentInsuranceRate},
            company_endowment_insurance_rate = #{companyEndowmentInsuranceRate},
            personal_unemployment_insurance_rate = #{personalUnemploymentInsuranceRate},
            personal_accumulation_fund_rate = #{personalAccumulationFundRate},
            company_accumulation_fund_rate = #{companyAccumulationFundRate},
            personal_medical_insurance_rate = #{personalMedicalInsuranceRate},
            company_medical_insurance_rate = #{companyMedicalInsuranceRate},
            personal_income_tax_rate = #{personalIncomeTaxRate},
            modify_time = NOW()
        WHERE
        <choose>
            <when test="id != null">
               id = #{id}
            </when>
            <when test="id == null">
                id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
        </choose>
    </update>
</mapper>
