<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsc.salary.mapper.EmployeeMapper">

    <select id="listEmployeeVO" resultMap="EmployeeVO" parameterType="Map">
        SELECT
            e.id,
            e.name employee_name,
            d.name dept_name,
            j.name job_name,
            e.sex,
            e.birth,
            e.education,
            e.id_card,
            e.status
        FROM
            employee e,
            job j,
            dept d
        WHERE
            e.dept_id = d.id
        AND
            e.job_id = j.id
        <choose>
            <when test="deptId != null">
                AND e.dept_id = #{deptId}
            </when>
            <when test="jobId != null">
                AND e.job_id = #{jobId}
            </when>
            <when test="employeeName != null">
                AND e.name like CONCAT('%',#{employeeName},'%')
            </when>
        </choose>
    </select>
    <update id="deleteEmployeeById" parameterType="int">
        update employee
        <set>
            status = 0
        </set>
        where id = #{id}
    </update>

    <resultMap id="EmployeeVO" type="com.zsc.salary.model.vo.EmployeeVO">
        <id property="id" column="id"/>
        <result property="employeeName" column="employee_name"/>
        <result property="deptName" column="dept_name"/>
        <result property="jobName" column="job_name"/>
        <result property="sex" column="sex"/>
        <result property="birth" column="birth"/>
        <result property="education" column="education"/>
        <result property="idCard" column="id_card"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="listEmployeeFixedSalaryVo" resultType="com.zsc.salary.model.vo.EmployeeFixedSalaryVo" parameterType="Map">
        SELECT
            e.id,
            e.name,
            d.name dept_name,
            j.name job_name,
            e.heating_subsidy,
            e.create_time,
            e.modify_time
        FROM
            employee e,
            dept d,
            job j
        WHERE
            e.job_id = j.id
          AND e.dept_id = d.id
          AND e.status = 1
        <choose>
            <when test="deptId != null">
                AND e.dept_id = #{deptId}
            </when>
            <when test="sortName == 'id' and sortOrder == true">
                ORDER BY e.id ASC
            </when>
            <when test="sortName == 'id' and sortOrder == false">
                ORDER BY e.id DESC
            </when>
            <when test="sortName == 'heatingSubsidy' and sortOrder == true">
                ORDER BY e.heating_subsidy ASC
            </when>
            <when test="sortName == 'heatingSubsidy' and sortOrder == false">
                ORDER BY e.heating_subsidy DESC
            </when>
            <when test="sortName == 'modifyTime' and sortOrder == true">
                ORDER BY e.modify_time ASC
            </when>
            <when test="sortName == 'modifyTime' and sortOrder == false">
                ORDER BY e.modify_time DESC
            </when>
        </choose>
    </select>
</mapper>
