<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsc.salary.mapper.JobMapper">

    <select id="getJobCountById" parameterType="int" resultMap="jobCount">
        SELECT
			j.name jobName,
			COUNT(j.name) jobCount
		FROM
			job j,
			employee e
		WHERE
			j.id = e.job_id
			AND
			e.status = 1
			AND
			j.id = #{jpbId}
    </select>

    <resultMap id="jobCount" type="com.zsc.salary.model.vo.JobCountVO">
        <result property="jobName" column="jobName"/>
        <result property="jobCount" column="jobCount"/>
    </resultMap>
</mapper>
